<%= form_with(model: answer, local: true) do |f| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--関連するQuestionオブジェクトのIDを保管する-->
  <%= f.hidden_field :question_id, {value: answer.question_id} %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, cols: 40, rows: 5 %>
  </div>

  <div class="actions">
    <%= f.submit "登録", data:{confirm:'登録してもいいですか？',disable_with:'処理中...'}, class: 'new-question button is-primary' %>

    <div class="back">
      <%= link_to '戻る', questions_path, class: 'new-question button is-link is-outlined' %>
    </div>
  </div>

<% end %>
